.col-4 {
    margin-top: 10%;
  
    .card {
      padding: 16px;
    }
  }
  
  .product-row-margin-top {
    margin-top: 40%;
  }
  
  .p-price {
    font-size: larger;
    font-weight: bolder;
  }
  